.tools {
  flex: 1;
  height: 100%;
}

.right-aligned-button {
  margin-left: auto;
  background-color: transparent !important;
}

.right-aligned-button:hover {
  background-color: var(--figma-color-text-oninverse) !important;
}

.right-aligned-button:active {
  background-color: var(--figma-color-bg-brand-pressed) !important;
}

.tools-row + .tools-row {
  border-top: 1px solid var(--figma-color-border);
}

.disabled-text {
  color: var(--figma-color-text-disabled);
}

.bold-text {
  font-weight: 600;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.link {
  text-decoration: underline;
  cursor: pointer;
  display: block;
}
