.wrapper {
  height: 100%;
  width: 1160px;
  padding: 80px 0;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mdc-card {
  --mdc-card-width: 370px;
  min-width: 224px;
  height: 192px;
  border: 1px solid var(--mds-color-theme-outline-glass-normal);
  background: var(--mds-color-theme-background-glass-normal);
  backdrop-filter: blur(60px);
  border-radius: 1rem;
}

@media (max-width: 1920px) {
  .wrapper {
    width: 1160px;
    padding: 80px 0;
  }

  mdc-card::part(body) {
    padding: 1rem 1.5rem;
  }

  mdc-card mdc-text[slot="body"] {
    padding-bottom: 1.5rem;
    color: var(--mds-color-theme-text-secondary-normal);
  }
}

.firstPageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.firstPageContent .headerWrapper {
  max-width: 1240px;
  gap: 2.5rem;
}

.firstPageContent .textWrapper {
  max-width: 1240px;
  margin-bottom: 40px;
  margin-top: 12px;
}

.firstPageContent .buttonWrapper {
  display: flex;
  gap: 0.5rem;
}

.firstPageContent .buttonWrapper mdc-buttonlink {
  width: auto !important;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 80px 24px;
  }

  mdc-card {
    --mdc-card-width: 309px;
  }

  mdc-card::part(title) {
    max-width: 261px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mdc-card mdc-text[slot="body"] {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 72px;
  }
}

.firstPageContent h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 165px;
  font-style: normal;
  font-weight: 400;
  line-height: 150px;
  color: var(--mds-color-theme-text-primary-normal);
  letter-spacing: 6.6px;
  margin: 0;
}

.firstPageContent h1 .headerTextStroke {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-theme-text-primary-normal, rgba(255, 255, 255, 0.95));
  -webkit-font-smoothing: auto;
}

@media (max-width: 768px) {
  .firstPageContent h1 {
		font-size: 136px;
		line-height: 128px;
	}

  mdc-card {
    --mdc-card-width: 224px;
  }

  mdc-card::part(title) {
    max-width: 176px;
  }
}

@media (max-width: 576px) {
  .firstPageContent h1 {
		font-size: 94px;
		line-height: 94px;
	}

  .secondPageContent .cardGrid {
    gap: 12px !important;
  }

  mdc-card {
    --mdc-card-width: 258px;
    height: 180px;
  }

  mdc-card::part(title) {
    max-width: 210px;
  }
}

@media (max-width: 320px) {
  .firstPageContent h1 {
		font-size: 38px;
		line-height: 40px;
	}

  .firstPageContent .buttonWrapper {
    display: flex;
    flex-direction: column;
  }

  .firstPageContent .buttonWrapper mdc-buttonlink {
    width: 100%;
  }
  
  mdc-card {
    --mdc-card-width: 272px;
    height: 192px;
  }

  mdc-card::part(title) {
    max-width: 210px;
  }

  .thirdPageContent .screenshotsGrid {
    display: block !important;
  }
}

.heading {
  font-size: 48px;
  line-height: 60px;
}

.callToAction {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.secondPageContent {
  margin-top: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.secondPageContent .cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 36px;
}

.thirdPageContent {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.thirdPageContent .screenshotsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-top: 36px;
  gap: 24px;

  img {
    border-radius: 1rem;
  }
}

.fourthPageContent {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .descriptionContainer {
    display: flex;
  }

  h1 {
    color: var(--color-theme-text-primary-normal, rgba(255, 255, 255, 0.95));
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: 150px;
    margin-bottom: unset;
  }

  .small-text {
    color: var(--mds-color-theme-text-secondary-normal)
  }
}

.fifthPageContent {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heroIllustration {
  width: 50%;
  filter: var(--icons-filter);
}

@media (max-width: 1080px) {
  .heroIllustration {
    width: 70%;
  }
}

@media (max-width: 1480px) {
  .heroIllustration {
    width: 60%;
  }
}

.heroGradient {
  position: absolute;
  max-width: 125%;
}
