.tabs {
    padding-left: 5px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--figma-color-border);
}

.tab {
    color: var(--figma-color-text-tertiary);
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}

.tab:hover {
    color: var(--figma-color-text-secondary);
}

.tab.active{
    color: var(--figma-color-text-primary);
}