.themeSelect {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background-color: rgba(255, 255, 255, 0.00);
  padding: 5.5px 6px 5.5px 12px;
}