/** Style Algolia */
:root {
	--docsearch-primary-color: var(--theme-accent);
	--docsearch-logo-color: var(--theme-text);
}
/* ------------------------------------------------------------ *\
	DocSearch (Algolia)
\* ------------------------------------------------------------ */

.DocSearch-Modal .DocSearch-Hit a {
	box-shadow: none;
	border: 1px solid var(--theme-accent);
}

.DocSearch-Logo svg .cls-1 {
	fill: var(--theme-text);
}

.DocSearch-Logo svg .cls-2 {
	fill: var(--theme-text);
}