.wrapper {
  height: 100%;
  width: 1160px;
  padding: 80px 0;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1920px) {
  .wrapper {
    width: 1160px;
    padding: 80px 0;
  }

  .section .cardGrid mdc-card {
    --mdc-card-width: 370px;
  }

  .timezoneInformation {
    width: 428px;
  }
}

.firstPageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.firstPageContent .headerWrapper {
  max-width: 1240px;
  gap: 2.5rem;
}

.firstPageContent h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
	font-size: 165px;
  font-weight: 400;
  line-height: 150px;
  color: var(--mds-color-theme-text-primary-normal);
  letter-spacing: 6.6px;
  margin: 0;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 80px 24px;
  }

  .firstPageContent h1 {
		font-size: 160px;
		line-height: 140px;
	}

  .section .cardGrid mdc-card {
    --mdc-card-width: 309px;
    min-width: 309px;
  }

  .timezoneInformation {
    width: 320px;
  }
}

@media (max-width: 768px) {
  .firstPageContent h1 {
		font-size: 120px;
		line-height: 60px;
	}

  .section .cardGrid mdc-card {
    --mdc-card-width: 100%;
    min-width: unset;
  }

  .officeHoursCardBody {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
	.firstPageContent h1 {
		font-size: 80px;
		line-height: 10px;
	}
}

.firstPageContent h1 .headerTextStroke {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-theme-text-primary-normal, rgba(255, 255, 255, 0.95));
  -webkit-font-smoothing: auto;
}

.firstPageContent .textWrapper mdc-text {
	line-height: 36px;
}

.section {
  margin: 20px 0;
  width: 100%;
}

.section .cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
}

mdc-card {
  height: 100%;
  border: 1px solid var(--mds-color-theme-outline-glass-normal);
  background: var(--mds-color-theme-background-glass-normal);
  backdrop-filter: blur(60px);
  border-radius: 1rem;
}

.cardBody {
  padding-bottom: 2rem;
  padding-right: 1rem;
}

mdc-card::part(body) {
  padding: 1rem 1.5rem;
}

.officeHoursCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 40px 0 8px 0;
}

.officeHoursCardsContainer mdc-card {
  width: 100%;
}

.officeHoursCardsContainer mdc-card::part(body) {
  padding: 40px;
}

.officeHoursCardBody {
  display: flex;
  gap: 24px;
}

.timezoneInformation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.timezoneInformation mdc-buttonlink {
  width: 320px;
}

.timezoneContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.timezoneRow {
  display: flex;
  gap: 24px;
}

.timezoneRow mdc-text:first-of-type {
  width: 144px;
}

.italic {
  font-style: italic;
}

.secondaryText {
  color: var(--mds-color-theme-text-secondary-normal);
}
