body {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  background: var(--mds-color-theme-background-gradient-primary-normal);
}

.themeWrapper {
  display: flex;
  flex-direction: column;
  width: calc(30%);
  height: auto;
  background: var(--mds-color-theme-background-gradient-primary-normal);
  padding: 10px;
  border: 1px solid var(--mds-color-theme-text-primary-normal);
}

.nestedThemeWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  height: auto;
  background: var(--mds-color-theme-background-gradient-primary-normal);
  padding: 10px;
  border: 1px solid var(--mds-color-theme-text-primary-normal);
}

.themeWrapper + .themeWrapper {
  margin-top: 10px;
}

.colorBox {
  width: 100%;
  height: 10px;
  border-radius: 5px;
}

.colorBox + .colorBox {
  margin-top: 10px;
}

.presence-list {
  background-color: var(--mds-color-theme-text-primary-normal);
  padding: 10px;
}

.presence-row {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.badges-container,
.icon-container,
.focus-ring-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 5px;
}
