body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
    background: var(--mds-color-theme-background-solid-primary-normal);
}

.themeWrapper {
    display: flex;
    flex-direction: column;
    width: calc(30%);
    height: auto;
    background: var(--mds-color-theme-background-solid-primary-normal);
    color: var(--mds-color-theme-text-primary-normal);
    padding: 10px;
    border: 1px solid var(--mds-color-theme-text-primary-normal)
}

.themeWrapper+.themeWrapper {
    margin-top: 10px;
}

.colorBox {
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

.colorBox+.colorBox {
    margin-top: 10px;
}