select {
    background-color: transparent;
    color: var(--figma-color-text);
    height: 40px;
    border: 1px solid transparent;
    font-size: 1rem;
    width: 100%;
}

select:hover {
    border: 1px solid grey;
}

select:focus-visible {
    outline: none;
}