.bodyOverride {
  padding: 0 !important;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

#storybook-root {
  height: 100%;
}

#root-inner {
  height: 100%;
}

.backgroundGradient {
  height: calc(100% - 2rem);
  padding: 1rem;
  background: var(--mds-color-theme-background-gradient-primary-normal);
}

.docs-story > div {
  padding: 0;
}

.docs-story .innerZoomElementWrapper > div {
  border: none !important;
}
