.heading1 {
    font-size: 2.5rem !important;
    font-weight: 700;
    line-height: 130%;
    padding: 0;
    margin: 0;
}

.heading2 {
    font-size: 2rem !important;
    font-weight: 500;
    line-height: 125%;
    padding: 0;
    margin: 0 !important;
    margin-top: 1.25rem !important;
}

.heading3 {
    font-size: 1.25rem !important;
    font-weight: 500;
    line-height: 140%;
    padding: 0;
    margin: 0 !important;
    margin-top: 1.25rem !important;
    margin-bottom: 0.25rem !important;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marginTop {
    margin-top: 2.5rem !important;
}

.subheading {
    margin-top: 1.25rem;
    margin-bottom: 2rem;
}

.subheading-secondline {
    margin-top: -1.75rem;
    margin-bottom: 1.25rem;
}

.backLink {
    display: inline-flex;
    text-decoration: underline;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-bottom: 0.25rem;
}

.backLink:focus {
    outline: 0.125rem solid #64b4fa;
    outline-offset: 0.125rem;
}