body {
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: var(--figma-color-text);
  position: fixed;
  overflow: none;
  height: 100%;
  width: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  height: 100%;
}

.content {
  flex: 1;
  display: flex;
  padding-bottom: 15px;
}