name: Continuous Integration
run-name: ${{ github.actor }} is running continuous integration

on:
  pull_request_target:
    branches:
      - main
    types: [opened, reopened, synchronize]
  # The "workflow_dispatch" event gives us a button in GitHub's "Action" UI
  workflow_dispatch:
  workflow_call:

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest' ]
        node-version: [ '18.x' ]
    steps:
      - name: Print Details
        run: echo "Details -> event - (${{ github.event_name }}) os - (${{ runner.os }}) branch - (${{ github.ref }})"

      - name: 'Checkout repository'
        uses: actions/checkout@v3

      - name: 'Use Node.js v${{ matrix.node-version }}'
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'

      - name: 'Run yarn install'
        run: yarn install --immutable

      - name: 'Run pipeline CI script'
        run: yarn pipeline:ci
