name: Pull Request CI
run-name: ${{ github.actor }} is running Pull Request CI

on:
  pull_request_target:
    branches:
      - main
    types: [opened, reopened, synchronize, labeled]
  workflow_dispatch:

env:
  rid: ${{ github.run_id }}-${{ github.run_number }}

jobs:
  configure-labels:
    name: Configure Labels and Core Team Review
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: .github/labeler.yml
          sync-labels: true
      - name: Add Core Team Label for Core Team Members Review
        if: >
          github.event.requested_team != null &&
          github.event.requested_team.slug == 'momentum-design-engineers'
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/labels \
            -d '{"labels":["Author: Core Team"]}'

  validate-title:
    name: Validate Pull Request Title
    runs-on: ubuntu-latest

    steps:
      - name: Check Pull Request Title
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          REGEX="^(feat|docs|chore|fix|refactor|test|style|perf|revert|build|ci)(\(\w+\))?:.+$"

          echo "PR Title: $TITLE"

          if [[ "$TITLE" =~ $REGEX ]]
          then
            echo "✅ Pull request title is valid."
            exit 0
          else
            echo "❌ Title must follow semantic commit message format. \\nPlease use one of the following to start the title with: \`feat\`,\`docs\`,\`chore\`,\`fix\`,\`refactor\`,\`test\`,\`style\`,\`perf\`,\`revert\`,\`build\`,\`ci\`"
            exit 1
          fi

  validate-description:
    name: Validate Pull Request Description
    needs: validate-title
    runs-on: ubuntu-latest

    steps:
      - name: Check Pull Request Description
        env:
          PR_BODY: ${{ github.event.pull_request.body || '' }}
        run: |
          DESCRIPTION="$(echo $PR_BODY | xargs -0)"

          echo "PR Description: $DESCRIPTION"
          
          if [[ -z $DESCRIPTION ]];
          then
            echo '❌ Description matters and should not be empty. Provide detail with what was changed, why it was changed and how it will impact our consumers.'
            exit 1
          else
            echo '✅ Pull request description is valid.'
            exit 0
          fi

  validate-action:
    name: Validate Action
    needs: validate-description
    runs-on: ubuntu-latest

    steps:
      - name: Validate Labels
        run: |
          HEAD_REPO=${{ github.event.pull_request.head.repo.full_name }}
          BASE_REPO=${{ github.event.pull_request.base.repo.full_name }}
          FROM_BASE=0; [ "$HEAD_REPO" == "$BASE_REPO" ] && FROM_BASE=1

          HAS_VALIDATED_LABEL=${{ contains(github.event.pull_request.labels.*.name, 'validated') || contains(github.event.workflow_run.labels.*.name, 'validated') || contains(github.event.label.name, 'validated') }}
          VALIDATED=0; [ "$HAS_VALIDATED_LABEL" == "true" ] && VALIDATED=1

          echo github.event
          
          echo from base $FROM_BASE
          echo validated $VALIDATED

          if [[ $FROM_BASE == 1 || $VALIDATED == 1 ]]
          then
            echo 'Pull request is validated, continuing.'
            exit 0
          else
            echo 'Pull request is not validated, exiting. To validate, add the "validated" label or reach out to the Core Team and re-run the workflow.'
            exit 1
          fi

  initialize:
    name: Initialize
    needs: validate-action
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          
      - name: Validate Dependencies
        id: validate-dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/**/node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies
        run: yarn

      - name: Cache Dependencies
        uses: actions/cache@v4
        if: steps.validate-dependencies.outputs.cache-hit != 'true'
        with:
          path: |
            node_modules
            packages/**/node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}

  generate-package-matrix:
    name: Generate Package Matrix
    needs: initialize
    runs-on: ubuntu-latest

    outputs:
      packages: ${{ steps.generate-package-matrix.outputs.packages }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          
      - name: Uncache Dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/**/node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Synchronize Packages
        run: yarn
         
      - name: Update Main Branch
        run: |
          git fetch origin main --unshallow

      # Build Automation Tooling (Telemetry as precondition)
      - name: Build Automation Tooling
        run: yarn telemetry build && yarn automation build:cli

      - id: generate-package-matrix
        name: Generate Package Matrix
        run: echo "packages=$(yarn md-automation -- --command get-packages --changed ${{ github.event.pull_request.base.sha }} --dependent)" >> $GITHUB_OUTPUT

      - name: Display Package Matrix
        run: echo "generated package matrix - ${{ steps.generate-package-matrix.outputs.packages }}"

  build:
    name: Build
    needs: initialize
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          
      - name: Uncache Dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/**/node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Synchronize Packages
        run: yarn

      - name: Build
        run: yarn build
        env:
          MOMENTUM_METRICS_API_KEY: ${{ secrets.MOMENTUM_METRICS_API_KEY }}

      - name: Cache Dist
        uses: actions/cache@v4
        with:
          path: '**/dist'
          key: dist-${{ env.rid }}

  analyze-root:
    name: Analyze Root
    needs: initialize
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          
      - name: Uncache Dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/**/node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Synchronize Packages
        run: yarn

      - name: Analyze
        run: yarn analyze:root

  analyze-prebuild:
    name: ( ${{ matrix.package }} / ${{ matrix.os }} ) Analyze - Prebuild
    needs: [analyze-root, generate-package-matrix, build]
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        package: ${{ fromJson(needs.generate-package-matrix.outputs.packages) }}
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          
      - name: Uncache Dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/**/node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Uncache Dist
        uses: actions/cache@v4
        with:
          path: '**/dist'
          key: dist-${{ env.rid }}

      - name: Synchronize Packages
        run: yarn

      - name: Analyze - Prebuild
        run: yarn workspace ${{ matrix.package }} analyze:prebuild

  test-prebuild:
    name: ( ${{ matrix.package }} / ${{ matrix.os }} ) Test - Prebuild
    needs: [analyze-root, generate-package-matrix, build]
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        package: ${{ fromJson(needs.generate-package-matrix.outputs.packages) }}
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          
      - name: Uncache Dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/**/node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}
      
      - name: Uncache Dist
        uses: actions/cache@v4
        with:
          path: '**/dist'
          key: dist-${{ env.rid }}

      - name: Synchronize Packages
        run: yarn

      - name: Test - Prebuild
        run: yarn workspace ${{ matrix.package }} test:prebuild

  analyze-postbuild:
    name: ( ${{ matrix.package }} / ${{ matrix.os }} ) Analyze - Postbuild
    needs: [analyze-root, generate-package-matrix, build]
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        package: ${{ fromJson(needs.generate-package-matrix.outputs.packages) }}
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          
      - name: Uncache Dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/**/node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Uncache Dist
        uses: actions/cache@v4
        with:
          path: '**/dist'
          key: dist-${{ env.rid }}

      - name: Synchronize Packages
        run: yarn

      - name: Analyze - Postbuild
        run: yarn workspace ${{ matrix.package }} analyze:postbuild

  test-postbuild:
    name: ( ${{ matrix.package }} / ${{ matrix.os }} ) Test - Postbuild
    needs: [analyze-root, generate-package-matrix, build]
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        package: ${{ fromJson(needs.generate-package-matrix.outputs.packages) }}
    
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
          
      - name: Uncache Dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            packages/**/node_modules
          key: node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Uncache Dist
        uses: actions/cache@v4
        with:
          path: '**/dist'
          key: dist-${{ env.rid }}

      - name: Debug dist
        run: |
          pkg_name=${{ matrix.package }}
          ls -R packages/$(basename $pkg_name)/dist || echo "Dist is missing!"


      - name: Synchronize Packages
        run: yarn

      - name: Log in to GitHub Container Registry
        if: ${{ matrix.package == '@momentum-design/components' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Test - Postbuild
        run: yarn workspace ${{ matrix.package }} test:postbuild  

      - name: Upload Playwright Report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && matrix.package == '@momentum-design/components' }}
        with:
          name: playwright-report
          path: packages/components/playwright-report/
          retention-days: 30
